mixin video(video)
    div.video__each
        a(href=`/videos/${video.id}`).video-mixin     
            div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)
            div.identifyUser
                img.header__avatar(src=`${video.owner.avatarUrl}`)
                div.video-mixin__data
                    span.video-mixin__title=video.title
                    div.video-mixin__meta
                        span #{video.owner.name} • 
                        span #{video.meta.views} views
