extends base

block content 
    div#videoContainer(data-id=video._id)  
        video(src=`${video.fileUrl}`)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn 
                    i.fas.fa-play
                div.videoControls__time 
                    span#currenTime 00:00
                    span  /
                    span#totalTime 
            input(type="range", step="0.1", value=0,  min="0")#timeLine.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.1", value=0.5,  min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen
                    i.fas.fa-expand
    div.video__sub
        div.video__data
            p.video__title=video.title
            small.video__owner Uploaded by 
                a(href=`/user/${video.owner._id}`)=video.owner.name
            small.video__small Uploaded at   #{new Date(video.createdAt).toLocaleDateString()}         
        div.video__nav
            if String(video.owner._id) === String(loggedInUser._id)
                div.video__nav__edit
                    i.fas.fa-scissors
                    a(href=`${video.id}/edit`) Edit
                        
                    br
                div.video__nav__delete
                    i.fas.fa-trash
                    a(href=`${video.id}/delete`) Delete
    div.video__more 
        div.video__more__user           
            if !video.owner.avatarUrl
                a(href=`/user/${video.owner._id}`)
                    img.header__avatar(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3MAdEhs1pDTSXdLl7RZn9t_WwnWNwsnt5ZA&usqp=CAU")
            else
                a(href=`/user/${video.owner._id}`)
                    img.header__avatar(src=`${video.owner.avatarUrl}`)
            div.video__more__user__info   
                p=video.owner.name
                small=video.owner.description
        div
            p.video__discription=video.description       

        
            div.video__add__comments
                form.video__comment-form#commentForm               
                    textarea#textarea(cols="55",rows="10",placeholder="Add a comment...",maxlength="75")
                    if loggedIn
                        button.comment__button COMMENT
                    else 
                        p you should login to leave a comment.
            div.video__comments 
                ul 
                    each comment in video.comments.reverse() 
                        li.comment(data-id=comment.id)                     
                            img.header__avatar(src=comment.avatarUrl)
                            div.comment_text
                                div.comment_text_user
                                    small #{comment.ownerName}  
                                    p #{new Date(comment.createdAt).toLocaleDateString()}
                                span.click=comment.text
                            if String(loggedInUser._id) === String(comment.owner._id)
                                    i.fas.fa-trash.deleteComment
                                
                                

block scripts
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")


